@import url(DiaballikFonts.css);

.root {
    -fx-font-family: Raleway;
    -fx-font-size: 13;
}

/* ACTIONS VIEW */
#actionsView {
    -fx-pref-width: 200;
    -fx-background-color: linear-gradient(to top, #88848a, #d2d2d2);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-scale-z: -1;
}

.indicateurActionsRestantes {
    -fx-font-size: 50;
    -fx-padding: -16 0 -10 0;
}

.vBoxIndicateurs {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 20;
}

#actionsView > GridPane > .button {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-background-radius: 4;
    -fx-background-insets: 2;
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-padding: 4;
    -fx-border-radius: 4;
    -fx-border-color: black;
    -fx-border-width: 2;
}

#actionsView > GridPane > .button:hover {
    -fx-background-color: linear-gradient(to bottom, #3cb0fd, #3498db);
    -fx-cursor: hand;
}

#actionsView > GridPane > #passerTour {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

/* AFFICHAGE VIEW */
#affichageView {
    -fx-pref-height: 50;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#affichageView > BorderPane > .label {
    -fx-font-size: 30;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 6, 0, 0, 0);
}

/* TERRAIN VIEW */
#terrainView {
    -fx-alignment: center;
    -fx-border-color: #4b4b4b;
    -fx-border-width: 2;
}

#tourAdverse {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

#tourAdverse > .label {
    -fx-font-size: 36;
}

/* COULEURS */
/* Joueur vert */
.couleurJoueurVert {
    -fx-fill: linear-gradient(to bottom right, #00eb2f, #00cd2d);
    -fx-background-color: linear-gradient(to top, #00eb2f, #00cd2d);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.couleurJoueurVertInactif {
    -fx-fill: linear-gradient(to bottom right, #00691e, #004b15);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.couleurJoueurVertSurvol {
    -fx-fill: linear-gradient(to bottom right, #00ff31, #00e12f);
    -fx-background-color: linear-gradient(to top, #00ff31, #00e12f);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 0, 0);
}

/* Joueur rouge */
.couleurJoueurRouge {
    -fx-fill: linear-gradient(to bottom right, #eb8b00, #cd7200);
    -fx-background-color: linear-gradient(to top, #eb8b00, #cd7200);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.couleurJoueurRougeInactif {
    -fx-fill: linear-gradient(to bottom right, #693700, #4b2f00);
    -fx-background-color: linear-gradient(to top, #eb8b00, #cd7200);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.couleurJoueurRougeSurvol {
    -fx-fill: linear-gradient(to bottom right, #ff9900, #e18300);
    -fx-background-color: linear-gradient(to top, #ff9900, #e18300);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 0, 0);
}

/* Général */
.couleurSelection {
    -fx-fill: linear-gradient(to bottom right, #ebeb00, #cdcd00);
    -fx-background-color: linear-gradient(to bottom right, #ebeb00, #cdcd00);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);
}

.couleurSelectionSurvol {
    -fx-fill: linear-gradient(to bottom right, #ffff00, #e1e100);
    -fx-background-color: linear-gradient(to bottom right, #ffff00, #e1e100);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);
}

.couleurCasePair {
    -fx-background-color: linear-gradient(to bottom right, #ebebeb, #e1e1e1);
}

.couleurCaseImpair {
    -fx-background-color: linear-gradient(to bottom right, #9b9b9b, #878787);
}

.couleurCasePair > BorderPane > .label, .couleurMarquagePair > BorderPane > .label, .couleurMarquageSurvolPair > BorderPane > .label {
    -fx-padding: 2;
    -fx-text-fill: #373737;
}

.couleurCaseImpair > BorderPane > .label, .couleurMarquageImpair > BorderPane > .label, .couleurMarquageSurvolImpair > BorderPane > .label {
    -fx-padding: 2;
    -fx-text-fill: #ffffff;
}

.couleurMarquage {
    -fx-fill: linear-gradient(to bottom right, #99d3e1, #76abb9);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}

.couleurMarquagePair {
    -fx-background-color: linear-gradient(to bottom right, #c8c8ff, #9b9bcd);
}

.couleurMarquageImpair {
    -fx-background-color: linear-gradient(to bottom right, #8181b9, #535387);
}

.couleurMarquageSurvol {
    -fx-fill: linear-gradient(to bottom right, #a8efff, #90bfcd);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 0);
}

.couleurMarquageSurvolPair {
    -fx-background-color: linear-gradient(to bottom right, #ababe1, #70709b);
}

.couleurMarquageSurvolImpair {
    -fx-background-color: linear-gradient(to bottom right, #64649b, #393969);
}

.couleurAdversaire {
    -fx-fill: linear-gradient(to bottom right, #5f5f5f, #414141);
}
