@import url(DiaballikFonts.css);

.root {
    -fx-font-family: Raleway;
    -fx-font-size: 13;
}

.button {
    -fx-max-width: 220px;
    -fx-max-height: 30px;
    -fx-font-size: 20px;
}

.button:hover {
    -fx-cursor: hand;
}

.label {
    -fx-font-size: 42px;
}