@import url(DiaballikFonts.css);

.root {
    -fx-font-family: Raleway;
    -fx-font-size: 13;
}

.button {
    -fx-max-width: 220;
    -fx-max-height: 30;
    -fx-font-size: 20;
}

.button:hover {
    -fx-cursor: hand;
}
